.wrapper {
    overflow-x: hidden;
    position: relative;
}
html {
    font-size: 100%;
    box-sizing: border-box;

}

*,*::before, *::after {
    box-sizing: inherit;
}

ul {
    margin: 0;
}

body {
    margin: 0;
    padding: 0;
    line-height: 1.5;
    font-family: 'Epilogue', sans-serif;
    font-weight: 500;
    font-size: 1.125rem;
    background-color: $white;


}

a, a:visited, a:hover{
    text-decoration: none;
    display: inline-block;
    color: $gray;
}

//Flexbox

.flex {
    display: flex;

    &-jc-sb {
        justify-content: space-between;
    }

    &-jc-c {
        justify-content: center;
    }

    &-ai-c {
        align-items: center;
    }
}


//hide
.hide-for-mobile{
    @include breakpoint-down(medium){
        display: none;
    }
}

.hide-for-desktop{
    @include breakpoint-up(large){
        display: none;
    }
}
